#contact.html                                                                                      {% extends "home.html" %}
{% block title %}ImpactHub{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
    {% block style %}
        body{
          background-color: rgb(0,0,33);
        }
        #contact{
            margin:auto;
            width: 40vw;
            height: 65vh;
            color:white; 
            text-align:center;
        }
        #contact{
            padding: 2em;
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap:2em;
        }
        form .input-box{
            display: flex;
            flex-direction: column;
            align-items: baseline;
            gap: 1em;
        }
        .input-box label{
            font-size: 1.5em;
        }
        form input{
            font-size: 1.3em;
            padding: 0.5em 5em;
            border-radius: 0.5em;
            border: none;
            outline: none;
        }
        form input:focus{
            background: rgb(229,229,229);
        }
        .btn1{
            margin-top:10px;
            padding: 0.4em 2em;
            border: 4px solid white;
            border-radius: 15px;
            font-size: 1.5rem;
            background-color: transparent;
        }
        .btn1:hover{
            background-color: white;
            color: rgb(0,0,33);
            font-weight: 600;
        }
        footer{
            font-size: 20px;
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 100%;
            height: 20vh;
            padding: 5em 15%;
      }
    {% endblock %}

    {% block start %}
        <section id="contact">
            <h1 class="header"><span>Ask Doubt</span></h1>
            <form action="#">
                <div class="input-box">
                   <label for="name">Full Name</label>
                   <input type="text" name="name" id="name" placeholder="Your Full Name">
                </div>
                <div class="input-box">
                   <label for="name">Send Message</label>
                   <input type="textarea" name="name" id="name" placeholder="Enter Your message">
                </div>
                <div class="btn1">Submit</div>
            </form>
        </section>
{% endblock %}